<!DOCTYPE html>
<html lang="tu">
<head>
    <meta charset="UTF-8">
    <title>Домашняя работа СПО</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
   <h1>Домашняя работа по предмету системное программное обеспечение</h1>
    <h2>Яковлева Полина, Фт-300007, 2022</h2>
    <div><img src="{{ url_for('static', filename='image/vivaldi.jpg') }}" width="=30%" alt="Антонио Вивальди"></div> 
    <h2>Времена года. Лето. Гроза</h2>
    <audio src="{{ url_for('static', filename='music/summer_thunder.mp3') }}" type="file/mpeg"></audio>
</body>
</html>
